[submodule "src/pb/web"]
	path = src/pb/web
	url = git://github.com/hoisie/web.git
[submodule "src/pb/mustache"]
	path = src/pb/mustache
	url = git://github.com/hoisie/mustache.git
[submodule "src/pb/redis"]
	path = src/pb/redis
	url = git://github.com/hoisie/redis.git
