<!doctype html>
<html>
  <head><title>Hacker's Pastebin</title></head>
  <style>
    code {
    background: #FEFEFE;
    border: solid 1px #E0E0E0;
    padding: 0 2px;
    }
    li {
    padding: 2px;
    }
  </style>
  <body>
    <h1>pastebin</h1>
    <p>Hacker's Pastebin (curl to post your pastes)</p>
    <h2>Usage</h2>
    <h3>Random URI</h3>
    <ul>
      <li>Send a <code>POST</code> or <code>PUT</code> request to paste.</li>
      <li><code>cat SomeFile | curl -X PUT --data-urlencode paste@- localhost:8080</code></li>
      <li><code>curl -X PUT --data-urlencode paste@myfile.txt localhost:8080</code></li>
      <li><code>iostat | curl -X PUT --data-urlencode paste@- localhost:8080</code></li>
    </ul>
    <h3>Custom URI</h3>
    <ul>
      <li><code>-d name=customURI</code> is to be included</li>
      <li><code>cat somefile | curl -X PUT --data-urlencode paste@- -d name=customURI localhost:8080</code></li>
    </ul>
    <h2>Installation</h2>
    <ul>
      <li><code>git clone git://github.com/boopathi/pastebin.git</code></li>
      <li><code>cd pastebin</code></li>
      <li><code>source set_env.sh</code> #Sets the environment</li>
      <li><code>make && make serve</code></li>
      <li><code>./bin/pb</code> (or) just <code>pb</code>, as <code>./bin/</code> will be in your <code>$PATH</code></li>
    </ul>
    <h2>Contributing</h2>
    <p>Clone the repository, make changes and <code>make serve && ./bin/pb</code> to re-compile the source and run the server</p>
  </body>
</html>
