<!doctype html>
<html>
  <head><title>Hacker's Pastebin</title></head>
  <style>
    code {
    background: #FEFEFE;
    border: solid 1px #E0E0E0;
    padding: 0 2px;
    }
    li {
    padding: 2px;
    }
  </style>
  <body>
    <h1>pastebin</h1>
    <p>Hacker's Pastebin (curl to post your pastes)</p>
    <h2>Usage</h2>
    <h3>Random URI</h3>
    <ul>
      <li>Send a <code>POST</code> or <code>PUT</code> request to paste.</li>
      <li><code>cat SomeFile | curl -X PUT --data-urlencode paste@- localhost:8080</code></li>
      <li><code>curl -X PUT --data-urlencode paste@myfile.txt localhost:8080</code></li>
      <li><code>iostat | curl -X PUT --data-urlencode paste@- localhost:8080</code></li>
    </ul>
    <h3>Custom URI</h3>
    <ul>
      <li><code>-d name=customURI</code> is to be included</li>
      <li><code>cat somefile | curl -X PUT --data-urlencode paste@- -d name=customURI localhost:8080</code></li>
    </ul>
    <h2>Source</h2>
    <p><code><a href="https://github.com/boopathi/pastebin">https://github.com/boopathi/pastebin</a></code></p>
  </body>
</html>
